body { background:url('../img/Background/Background.jpg') top center no-repeat #fff; }

.clear {clear:both;}
.left {float:left;}
.right {float:right;}

.logo {
	margin-bottom:100px;
}

.navbar {
	background:none;
	padding:5px;
	border:none;
	margin-bottom:150px;
	box-shadow:none;
}

.navbar a {
	color:#aaa !important;
	transition:color 0.3s;
	-webkit-transition:color 0.3s;
	-moz-transition:color 0.3s;
	-ms-transition:color 0.3s;
	-o-transition:color 0.3s;
	font-weight:bold;
	box-shadow:none;
}

.navbar a:hover {
	color:#000 !important;
}

.navbar li:active {
	background:none;
}

.navbar a.active {
	color:#000 !important;
}

td {
	font-size:12px;
}

.news {
	overflow:scroll;
	height:1000px;
}

.sideuserview {margin-bottom:25px;}

.sideuserview .coinbadge {width:100%}
.sideuserview .coinbadge ul {
	width:49%;
	height:28px;
	background:#e1e1e1;
	padding-top:2px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border:1px solid #d8d8d8;
}
.sideuserview .coinbadge ul .coinvalue {
	position:relative;
	top:2px;
	left:10px;
}

.sideuserview .coinbadge ul img {
	position:relative;
	left:15px;
}


.sideuserview ul {padding:0;}
.itemlist ul:first-child { margin-right:15px;}
.itemlist li {list-style:none;}
.itemlist li a {
	font-size:12px;
}

.ingameaccounts .panel, .ingameaccounts .panel-default {
	background:#eee;
}
.ingameaccounts .panel-heading {
	background:#ddd;
}

.support .open {color:green;}
.support .inprocess {color:orange;}
.support .closed {color:red;}