.marg25top {
	margin-top:25px;
}

.marg25bot {
	margin-bottom:25px;
}

.pad25lr {
	padding-left:25px;
	padding-right:25px;
}

.pad15 {
	padding:15px;
}


.panelitem {
	border-bottom:2px solid #d0d0d0;
}

.glyph {
	color:#028721;
	float:right;
	transition: transform 1s, color 0.3s;
	-webkit-transition: transform 1s, color 0.3s;
	-moz-transition: transform 1s, color 0.3s;
	-ms-transition: transform 1s, color 0.3s;
	-o-transition: transform 1s, color 0.3s;
}
.glyph:hover {
	transform: rotate(360deg);
	cursor:pointer;
}
.glyph:active {
	color:#005414;
}

.news-link {
	padding-top:2px;
	padding-bottom:2px;
	font-size:12px;
	text-shadow:none;
	font-style:italic;
	margin-bottom:15px;
	font-weight:bold;
	background:#e3ab00;
}

.news-date {
	margin-left:25px;
	position:relative;
	bottom:3px;
	background:#e30040;
}

ul.sidebar {
	font-size:13px;
	color:#7a7a7a;
	list-style:none;
	margin-top:10px;
	margin-bottom:25px;
}


.sidebar li, .sidebar-named li {
	margin-bottom:5px;
	border:none;
}

.sidebar .spacer, .sidebar-named .spacer {
	width:100%;
	height:15px;
}

.sidebar-named li.online {color:#2b983d;}
.sidebar-named li.offline {color:#982b2b;}
.sidebar-named li.maintenance {color:#cc9428;}

.sidebar-row {margin-bottom:5px;}

.sidebar-row:last-child {margin-bottom:0;}

.sidebar-named {
	font-size:13px;
	color:#7a7a7a;
	list-style:none;
	margin-top:10px;
	margin-bottom:25px
}

.mvp-ranking ul li:first-child {
	margin-top:25px;
}
.mvp-ranking ul li {
	padding-top:10px;
	padding-bottom:10px;
	font-size:12px;
	border:none;
}

.mvp-get {margin-left:60px;margin-bottom:25px;}

.administrator {background:#fedfdf; border:none;}
.administrator b {color:#9d2626;}
.developer {background:#f2e0ff; border:none;}
.developer b {color:#6c269d;}
.gamemaster {background:#e0eaff; border:none;}
.gamemaster b {color:#264d9d;}