.clear {clear:both;}
.left {float:left;}
.right {float:right;}


td {
	font-size:12px;
}

.support .open {color:green;}
.support .inprocess {color:orange;}
.support .closed {color:red;}´

.marg25top {
	margin-top:25px;
}

.marg25bot {
	margin-bottom:25px;
}

.pad25lr {
	padding-left:25px;
	padding-right:25px;
}

.pad15 {
	padding:15px;
}

.administrator {background:#fedfdf; border:none;}
.administrator b {color:#9d2626;}
.developer {background:#f2e0ff; border:none;}
.developer b {color:#6c269d;}
.gamemaster {background:#e0eaff; border:none;}
.gamemaster b {color:#264d9d;}
